<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <normalizeSearchPhrase patch:after="buckets.getFacets">
        <processor type="Sitecore.Support.XA.Foundation.Search.Pipelines.NormalizeSearchPhrase.RemoveSpecialSearchCharactersProcessor, Sitecore.Support.257237.313772" resolve="true" />
      </normalizeSearchPhrase>
    </pipelines>
    <services>
      <register serviceType="Sitecore.XA.Foundation.Search.Services.ISearchService, Sitecore.XA.Foundation.Search" set:implementationType="Sitecore.Support.XA.Foundation.Search.Services.SearchService, Sitecore.Support.257237.313772" lifetime="Singleton"/>
    </services>
  </sitecore>
</configuration>